<a href="https://colab.research.google.com/github/Zamoca42/TIL/blob/main/Stat/data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sklearn.datasets import load_boston # Scikit-Learn에서 제공하는 dataset package 호출
import pandas                            # pandas package 호출 (DataFrame 활용)

In [3]:
boston_houseprice_data = load_boston()   # Boston지역의 주택가격 데이터를 활용하기 위해 데이터 로드

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [4]:
# 가져온 데이터와 변수명들을 활용하여 DataFrame 생성

df = pandas.DataFrame(
    data = boston_houseprice_data.data,
    columns = boston_houseprice_data.feature_names
)

In [5]:
# 초기 5건의 데이터를 출력해서 간단한 데이터 구조 확인
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [6]:
# AGE 컬럼 불러오기
# 결과는 Series라는 1차원 구조로 출력됨
df['AGE']

0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: AGE, Length: 506, dtype: float64

In [7]:
df.shape
# 데이터 개수 : 506개 (506개 행)
# 변수의 개수 : 13개 (13개 열)

(506, 13)

# 3. 변수의 분류 기준

- 질적 변수 / 양적 변수
  - 질적변수(Qualitative variable)
    - 변수의 값이 특정 범주에 포함되도록 표현가능한 변수 
      - 예) 아이들 장난감의 색상, 특정 집단 구성원의 성별, 종교 등
  - 양적변수(Quantitative variable) 
    - 변수의 값을 숫자로 나타낼 수 있는 변수 
      - 예) 사람의 키나 몸무게, 한 가정의 소득, 고속도로 통행량 등

- 이산 변수 / 연속 변수
  - 이산 변수(discrete variable)
    - 셀수 있는 변수 
      - 예) 아파트의층수,한회사의직원의수,불량품의개수등
  - 연속 변수(continuous variable)
    - 셀수 없는 변수
    - 이산 변수와 다르게 변수의 각 값 사이에 무수히 많은 또 다른 값들이 존재하는 특성을 띔
      - 예) 사람의 키, 몸무게, 나이, 한 가구의 소득 등

- 간격 변수 / 비율 변수 ( 연속형 변수 )
  - 간격변수 
    - 대소관계와 함께 그 차이에도 의미를 두는 변수 
      - 예) 연도, 온도등
  - 비율변수 
    - 대소관계, 차이, 비 모두에 의미를 두는 변수 
      - 예) 길이, 무게등

- 명목 변수 / 순위 변수
  - 명목변수 
    - 단순히 분류하기 위한 변수 
      - 예) 학생번호, 전화번호, 성별 등
  - 순위변수 
    - 순서관계 및 대소관계에 의미를 둔 변수 
      - 예) 성적 순위, 설문조사의 만족도 등

- 변수 분류의 중요성
  - 데이터 크기는 상대적으로 Pandas 활용시 쉽게 측정이 가능
  - 하지만, 변수의 분류는 변수의 성질을 파악하는 분석가로서의 지식이 필요